* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #d4d4d4;
    align-items: center;
}
body{
    background-color: #343434;
    
}

.logo {
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 5px;
}

.logo img{
    height: 100%;
    border-radius: 10px;
}

.menu {
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-evenly;
}
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greeting_box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.photo{
    display: flex;
    flex-direction: column;
    background-color: #747474;
    color: white;
    margin: 20px;
    padding: 15px;
    flex: 2;
    box-shadow: 0 2px 5px whitesmoke;
    border-radius: 20px;
    opacity: 1;
}
.myPhoto{
    display: flex;
    justify-content: space-around;
    height: 500px;
}

#greeting{
    height: 500px;
    background-color: #f7990c;
    color: white;
    margin: 20px;
    padding: 15px;
    flex: 1;
    box-shadow: 0 2px 5px black;
    border-radius: 20px;
    opacity: 1;
}

#greeting:hover {
    box-shadow: 1px 5px 10px white;
}

.photo:hover {
    box-shadow: 1px 5px 10px white;
}

.myPhoto img{
    height: 100%;
    border-radius: 10px;
}

#hobby {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#hobby h2{
    background-color: #747474;
    color: white;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px whitesmoke;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
}

.hobby_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    background-color: #f7990c;
    color: white;
    margin: 20px;
    padding: 15px;
    flex: 1;
    box-shadow: 0 2px 5px black;
    border-radius: 20px;
    opacity: 1;
}

.card:hover {
    box-shadow: 1px 5px 10px white;
}

ul {
    list-style-type: none;
}

#greeting p{
    color: black;
    font-size: 30px;
    text-decoration: none;
}
a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.likedislike{
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.likedislike button{
    padding: 5px;
}

a:hover {
    color: darkslategrey;
    font-weight: bold;
}

footer{
    background-color: black;
    color: white;
    height: 30px;
    padding: 10px;
}
footer h5{
    text-align: center;
    font-display: normal;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    h3 {
        text-align: center;
    }
}